<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/FuelEX98_20_29090_A_Portrait.jpeg">
    </div>
    
    {{>footer}}

</body>



</html>