<!DOCTYPE html>
<html>
<head>
    <title>Network</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this page to test your network</p>
        
    </div>
    
    {{>footer}}

</body>



</html>